@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var row = (ServiceItemRow)Model.Content;
    var settings = (ServiceItemRowSettings)Model.Settings;

    if (settings.Hide) { return; }
}

                      <div class="col-md-4">
                          <div class="info info-horizontal">
                              <div class="icon icon-rose">
                                  <i class="material-icons">gesture</i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">@row.Title</h4>
                                  @row.Description
                                  <a href="@row.Link.Url" target="@row.Link.Target">@row.Link.Name</a>
                              </div>
                          </div>
                      </div>
